<div class="card">
  <form #f="ngForm">
    <ul class="list-group list-group-flush">
      <li class="list-group-item continue-btn-wrap">
        <button class="btn btn-primary btn-lg btn-block" id="orderSummaryNextStepBtn">Continue</button>
        <p class="x-small-text text-xs-center m-b-0">You will have a chance to review your order before its final.</p>
      </li>
      <li class="list-group-item order-summary-info-wrap">
        <div class="order-summary-info-header clearfix m-b-1">
          <h4 class="heading-3">Order Summary</h4>
          <a href="" class="btn btn-secondary btn-sm pull-xs-right">Edit Cart</a>
        </div>
        <table class="table table-sm no-borders order-summary-info-table">
          <tr>
            <td>Total Quantity</td>
            <td class="text-xs-right">{{cart?.cart.ItemCount | currency:currencyCode:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>Item Subtotal</td>
            <td class="text-xs-right">{{cart?.cart.ItemTotal | currency:currencyCode:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>Shipping and Handling</td>
            <td class="text-xs-right">{{cart?.cart.ShippingAmount | currency:currencyCode:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>Estimated Tax</td>
            <td class="text-xs-right">{{cart?.cart.TaxAmount | currency:currencyCode:true:'1.2-2'}}</td>
          </tr>
        </table>
      </li>

      <li class="list-group-item order-total-wrap clearfix">
        <h3 class="heading-2 m-b-0">Order Total</h3>
        <span class="total-price-wrap pull-xs-right">
          <span class="x-small-text currency-text">USD</span>
          <h3 class="heading-2 m-b-0 text-xs-right">{{cart?.cart.TotalDue | currency:currencyCode:true:'1.2-2'}}</h3>
        </span>
      </li>
    </ul>
  </form>
</div>
