<div class="card">
  <form #orderInfo="ngForm" (ngSubmit)="submitOrderInfoForm(orderInfo)">
    <div class="card-block">
      <h4 class="card-title">Order Info</h4>
      <p class="paragraph-text required-text"><span class="text-danger">*</span> = Required Field</p>

      <div class="form-group">
        <label for="GuestEmail" class="input-label" [class.invalid]="!GuestEmail.valid && GuestEmail.touched">Email Address <span class="text-danger">*</span></label>
        <p class="paragraph-text sub-label">Your order confirmation will be emailed to this address</p>
        <div class="validation-wrap">
          <input class="form-control"
                 [class.ng-invalid]="!GuestEmail.valid"
                 type="GuestEmail"
                 name="GuestEmail"
                 id="GuestEmail"
                 #GuestEmail="ngModel"
                 [(ngModel)]="cart.GuestEmail"
                 required />
          <span class="input-valid" *ngIf="GuestEmail.valid"><i class="fa fa-check-circle-o"></i></span>
          <div *ngIf="GuestEmail.touched && GuestEmail.errors">
            <span class="form-error-tab" *ngIf="GuestEmail.errors.required">Email address required</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="GiftMessage" class="input-label">Gift Message <span class="text-muted small-text">(optional)</span></label>
        <p class="paragraph-text sub-label">This message will show on the gift receipt</p>
          <textarea class="form-control"
                    name="GiftMessage"
                    id="GiftMessage"
                    rows="3"
                    #GiftMessage="ngModel"
                    [(ngModel)]="cart.GiftMessage">
          </textarea>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-12 col-md-6 previous-step-link-wrap">
          <a href="" class="previous-step-link" id="backToShoppingCartBtn" (click)="backToShoppingCart()"><i class="fa fa-long-arrow-left"></i> Back to Shopping Cart</a>
        </div>
        <div class="col-sm-12 col-md-6">
          <button type="submit" class="btn btn-primary next-step-btn pull-sm-right" id="continueShippingInfoBtn">Continue</button>
        </div>
      </div>
    </div>
  </form>
</div>
