<div class="card">
  <div class="card-block">
    <h4 class="card-title">Review and Place Your Order</h4>
    <div class="row">
      <div class="col-xs-12">
        <div class="review-section">
          <div class="review-header clearfix">
            <h4 class="review-section-title pull-xs-left">Order Info</h4>
            <a class="pull-xs-right edit-link" (click)="backToOrderInfo()" id="editOrderDetailsLink">Edit</a>
          </div>
          <div class="review-section-content">
            <dl class="dl-list">
              <div class="def-group clearfix">
                <dt class="def-term">Email Address:</dt>
                <dd class="def-desc">{{cart.GuestEmail}}</dd>
              </div>
              <div class="def-group clearfix" *ngIf="cart.GiftMessage">
                <dt class="def-term">Gift Message:</dt>
                <dd class="def-desc">{{cart.GiftMessage}}</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="review-section">
          <div class="review-header clearfix">
            <h4 class="review-section-title pull-xs-left">
              Shipping Info
            </h4>
            <a  class="pull-xs-right edit-link" (click)="backToShippingInfo()" id="editShippingInfoLink">Edit</a>
          </div>
          <div class="review-section-content">
            <address class="m-b-2" id="shippingAddressInfo">
              <strong class="m-b-half">Ship to:</strong><br/>
              {{shippingAddress.FirstName}} {{shippingAddress.LastName}} <br/>
              <!--<span *ngIf="shippingInfo.CompanyName !== null">{{shippingInfo.CompanyName}}<br></span>-->
              {{shippingAddress.Street1}} <br>
              {{shippingAddress.City}}, {{shippingAddress.State}}, {{shippingAddress.PostCode}} <br>
              {{shippingAddress.Phone}}
            </address>
            <dl>
              <dt class="m-b-half">Shipping Method:</dt>
              <dd>{{shippingMethod.Name}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="review-section">
          <div class="review-header clearfix">
            <h4 class="review-section-title pull-xs-left">
              <span>Billing Info</span>
              <!--<span>Payment Method</span>-->
            </h4>
            <a class="pull-xs-right edit-link" (click)="backToPaymentInfo()" id="editPaymentMethodLink">Edit</a>
          </div>
          <div class="review-section-content">
            <address class="m-b-2" id="billingAddressInfo" *ngIf="billingAddress.Street1.length > 0 && billingAddress.State?.length > 0">
              <strong class="m-b-half">Bill to:</strong><br>
              {{billingAddress.FirstName}} {{billingAddress.LastName}} <br/>
              <span *ngIf="billingAddress.CompanyName !== null">{{billingAddress.CompanyName}}<br></span>
              {{billingAddress.Street1}} <br>
              {{billingAddress.City}}, {{billingAddress.State}}, {{billingAddress.PostCode}} <br>
              {{billingAddress.Phone}}
             </address>
            <dl>
              <dt class="m-b-half">Payment Method</dt>
              <dd>
                Credit/Debit Card
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="review-section">
          <div class="review-header clearfix">
            <h4 class="review-section-title pull-xs-left">Cart Summary</h4>
            <a class="pull-xs-right edit-link" id="editShoppingCartLink" (click)="goBackToCart()">Edit Shopping Cart</a>
          </div>
          <div class="review-section-content">

            <div class="product-row clearfix" *ngFor="let cartItem of items; let i = index">
              <div class="product-img-wrap">
                <img src="{{cartItem.SidePreviews[0].ProductOnlyUrl}}"
                     alt="{{cartItem.Name}}"
                     class="product-img centered">
                <i class="icon ink-icon-zoom-in"></i>
              </div>
              <div class="product-meta-wrap">
                <h5 class="product-title">{{cartItem.Name}}</h5>
                <p class="small-text product-meta-info">
                  <span class="product-color">Color: {{cartItem.Color}}</span>
                  <span class="product-size">Size: {{cartItem.Size}}</span>
                  <span class="product-size">Quantity: {{cartItem.Quantity}}</span>
                </p>
              </div>
              <div class="product-costs-wrap">
                <div class="product-cost-row">
                  <span class="product-cost-label">Avg. Unit Cost:</span><span class="product-cost-number">{{cartItem.UnitPrice | currency:currencyCode:true:'1.2-2'}}</span>
                </div>
                <div class="product-cost-row" *ngIf="cartItem.PrintSetupCost !== 0">
                  <span class="product-cost-label">Print Setup:</span><span class="product-cost-number">{{cartItem.PrintSetupCost | currency:currencyCode:true:'1.2-2'}}</span>
                </div>
                <div class="product-cost-row" *ngIf="cartItem.PrintSetupCharge !== 0">
                  <span class="product-cost-label">Printing:</span><span class="product-cost-number">{{cartItem.PrintSetupCharge | currency:currencyCode:true:'1.2-2'}}</span>
                </div>
                <hr class="m-b-half">
                <div class="product-cost-row">
                  <span class="product-subtotal heading-3">Item Subtotal:</span><span class="product-subtotal-number heading-3">{{(cartItem.Quantity * cartItem.UnitPrice) | currency:currencyCode:true:'1.2-2'}}</span>
                </div>
              </div>
            </div> <!-- end of product-row -->
          </div> <!-- end of review-section-content -->
        </div> <!-- end of reivew-content -->
      </div>
    </div>
  </div>
  <div class="card-footer ">
    <div class="row">
      <div class="col-sm-12 col-md-7 order-total-col hide-mobile-750">
        <h4 class="footer-order-total-txt">Order Total: {{cart.TotalDue | currency:currencyCode:true:'1.2-2'}}</h4>
        <p class="small-text text-muted m-b-0">By placing this order you agree to our <a id="termsConditionLinkPlaceOrder">terms and conditions</a></p>
      </div>
      <div class="col-sm-12 col-md-5 place-order-col">
        <button type="submit" class="btn btn-primary place-order-btn pull-lg-right hide-mobile-750" id="placeOrderBtn" (click)="placeOrder()"> Place Order</button>

      </div>
    </div>
  </div>
</div>


