/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$accent-color: #3491c8;
$gray1: #222222;
$gray2: #505050;
$gray3: #808080;
$gray6: #e0e0e0;
$gray5: #cccccc;
$gray4: #a0a0a0;
$gray7: #f6f7f8;
$brand-primary: #ff5b59;
$red: #e30d0d;
$address-highlight: #fffab5;
$green: #4cb32e;


/*===============================
  InkSoft Brand Colors
---------------------------------*/

$inkBlue: #46ADEB;
$inkRed: #FF5B59;
$inkGreen: #48C585;
$inkYellow: #FFBA41;
