<div class="card page-card">
  <form #paymentForm="ngForm" (ngSubmit)="submitPayment(paymentForm)">
    <div class="card-block">
      <h4 class="card-title">Enter Payment Information</h4>
      <div class="credit-card-form-wrap">
        <div class="form-group cardnumber-col">
          <label for="CardNumber" class="input-label"
                 [class.invalid]="!CardNumber.valid && CardNumber.touched">
            Card Number <span class="text-danger">*</span></label>
          <div class="validation-wrap">
            <input type="text"
                   class="form-control"
                   name="CardNumber"
                   id="CardNumber"
                   [(ngModel)]="card.CardNumber"
                   #CardNumber="ngModel"
                   required
                   minlength="16">
            <span class="input-valid" *ngIf="CardNumber.touched && CardNumber.valid">
              <span class="fa fa-check-circle-o"></span>
            </span>
            <span *ngIf="CardNumber.touched && CardNumber.errors">
              <span class="form-error-tab" *ngIf="CardNumber.errors.required">
                Card required
              </span>
              <span class="form-error-tab" *ngIf="CardNumber.errors.minlength">
                At least 16 digits
              </span>
            </span>
          </div>
        </div>
        <div class="form-row clearfix">
          <div class="exp-month-col">
            <div class="form-group">
              <div class="validation-wrap">
                <label for="ExpirationMonth"
                       class="input-label">
                  Expiration
                  <span class="text-danger">*</span>
                </label>
                <div class="select-wrap">
                  <select name="ExpirationMonth"
                          id="ExpirationMonth"
                          [(ngModel)]="card.ExpirationMonth"
                          #ExpirationMonth="ngModel"
                          required>
                    <option value="" disabled selected>Month</option>
                    <option *ngFor="let month of months" [value]="month.id">{{month.month}}</option>
                  </select>
                  <span class="select-arrow">
                     <span class="arrow-down"></span>
                  </span>
                </div>

              </div>
            </div>
          </div>
          <div class="exp-year-col">
            <div class="form-group">
              <label for="ExpirationYear" class="input-label"> </label>
              <div class="select-wrap">
                <select name="ExpirationYear"
                        id="ExpirationYear"
                        [(ngModel)]="card.ExpirationYear"
                        #ExpirationYear="ngModel"
                        required>
                  <option value="" disabled selected>Year</option>
                  <option *ngFor="let year of expyears" [value]="year.year">{{year.year}}</option>
                </select>
                <span class="select-arrow">
                  <span class="arrow-down"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="cvc-code-col">
            <div class="form-group">
              <label for="CvcCode"
                     class="input-label"
                     [class.invalid]="!CvcCode.valid && CvcCode.touched">
                CVC Code <span class="text-danger">*</span></label>
              <div class="validation-wrap">
                <input type="text"
                       class="form-control"
                       name="CvcCode"
                       id="CvcCode"
                       [(ngModel)]="card.CvcCode"
                       #CvcCode="ngModel"
                       required
                       minlength="3">
                <span class="input-valid"
                      *ngIf="CvcCode.touched && CvcCode.valid">
                      <span class="fa fa-check-circle-o"></span>
                    </span>
                <div *ngIf="CvcCode.touched && CvcCode.errors">
                      <span class="form-error-tab"
                            *ngIf="CvcCode.touched && CvcCode.errors.required">
                      Required
                    </span>
                  <span class="form-error-tab"
                        *ngIf="CvcCode.touched && CvcCode.errors.minlength">
                      At least 3 digits
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="paragraph-text m-y-1"><span class="fa fa-lock"></span>
        All tranactions are secure and encrypted. Credit card information is never stored.
      </p>

      <!--<div class="form-group">-->
        <!--<label for="sameAsShippingAddress">Same As Shipping Address?-->
          <!--<input type="checkbox" name="sameAsShippingAddress" id="sameAsShippingAddress" value="" class="form-control" [(ngModel)]="">-->
        <!--</label>-->
      <!--</div>-->

      <form #billingAddressForm="ngForm" (ngSubmit)="saveBillingAddress(billingAddressForm)" *ngIf="!sameAsShippingAddress">
        <div class="card-block">
          <h4 class="card-title">Shipping Info</h4>
          <p class="paragraph-text required-text"><span class="text-danger">*</span> = Required Field</p>


          <div class="form-row clearfix">
            <div class="form-col-6">
              <div class="form-group">
                <label for="FirstName" class="input-label" [class.invalid]="!FirstName.valid && FirstName.touched">
                  First Name <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="FirstName" id="FirstName" [(ngModel)]="address.FirstName" #FirstName="ngModel" required>
                  <span class="input-valid" *ngIf="FirstName.touched && FirstName.valid"><i class="fa fa-check-circle-o"></i></span>
                  <span class="form-error-tab" *ngIf="FirstName.touched && !FirstName.valid">First Name required</span>
                </div>
              </div>
            </div>
            <div class="form-col-6">
              <div class="form-group">
                <label for="LastName" class="input-label" [class.invalid]="!LastName.valid && LastName.touched">
                  Last Name <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="LastName" id="LastName" [(ngModel)]="address.LastName" #LastName="ngModel" required>
                  <span class="input-valid" *ngIf="LastName.touched && LastName.valid"><i class="fa fa-check-circle-o"></i></span>
                  <span class="form-error-tab" *ngIf="LastName.touched && !LastName.valid">Last name required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row clearfix">
            <div class="form-col-6">
              <div class="form-group">
                <label for="Phone" class="input-label" [class.invalid]="!Phone.valid && Phone.touched">
                  Phone Number <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="Phone" id="Phone" [(ngModel)]="address.Phone" #Phone="ngModel" required>
                  <span class="form-error-tab" *ngIf="Phone.touched && !Phone.valid">Mut be a valid Phone Number</span>
                  <span class="form-error-tab" *ngIf="Phone.required">Phone Number required</span>
                  <span class="input-valid" *ngIf="Phone.valid"><i class="fa fa-check-circle-o"></i></span>
                </div>
              </div>
            </div>
            <div class="form-col-6">
              <div class="form-group">
                <label for="CompanyName" class="input-label">
                  Company/Organization <span class="text-muted small-text">(optional)</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="CompanyName" id="CompanyName" [(ngModel)]="address.CompanyName" #CompanyName="ngModel">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="Street1" class="input-label" [class.invalid]="!Street1.valid && Street1.touched">
                  Address Line 1 <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="Street1" id="Street1" [(ngModel)]="address.Street1" #Street1="ngModel" required>
                  <span class="input-valid" *ngIf="Street1.touched && Street1.valid"><i class="fa fa-check-circle-o"></i></span>
                  <span class="form-error-tab" *ngIf="Street1.touched && !Street1.valid">Address required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="Street2" class="input-label">Address Line 2</label>
                <input type="text" class="form-control" name="Street2" id="Street2" [(ngModel)]="address.Street2" #Street2="ngModel">
              </div>
            </div>
          </div>

          <div class="form-row clearfix">
            <div class="form-col-5">
              <div class="form-group">
                <label for="City" class="input-label" [class.invalid]="!City.valid && City.touched">
                  City <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" name="City" id="City" [(ngModel)]="address.City" #City="ngModel" required>
                  <span class="input-valid" *ngIf="City.touched && City.valid"><i class="fa fa-check-circle-o"></i></span>
                  <span class="form-error-tab" *ngIf="City.touched && !City.valid">City required</span>
                </div>
              </div>
            </div>
            <div class="form-col-5">
              <div class="form-group">
                <label for="State" class="input-label">State <span class="text-danger">*</span></label>
                <div class="select-wrap">
                  <select name="State" id="State" [(ngModel)]="address.State" #State="ngModel" required>
                    <option value="" selected>-- Select State --</option>
                    <option *ngFor="let state of states" [value]=state.name>{{state.name}}</option>
                  </select>
                  <div class="select-arrow">
                    <span class="arrow-down"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-col-2">
              <div class="form-group">
                <label for="PostCode" class="input-label" [class.invalid]="!PostCode.valid && PostCode.touched">Zip Code <span class="text-danger">*</span></label>
                <div class="validation-wrap">
                  <input type="text" class="form-control" id="PostCode" name="PostCode" [(ngModel)]="address.PostCode" #PostCode="ngModel" required>
                  <span class="input-valid" *ngIf="PostCode.touched && PostCode.valid"><i class="fa fa-check-circle-o"></i></span>
                  <span class="form-error-tab" *ngIf="PostCode.touched && !PostCode.valid">Must be a Valid Zip Code</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-12 col-md-6 previous-step-link-wrap">
          <a class="previous-step-link"
             id="backToShippingMethodBtn"
             (click)="backToShippingMethod()">
            <span class="fa fa-long-arrow-left"></span>
            Back to Shipping Method
          </a>
        </div>
        <div class="col-sm-12 col-md-6">
          <button type="submit"
                  class="btn btn-primary next-step-btn pull-sm-right"
                  id="reviewOrderBtn">
            Review Order
          </button>
        </div>
      </div>
    </div>
  </form>
</div>