@import "../../../app/assets/styles/settings/variables";
@import "../../../app/assets/styles/settings/color-palette";
@import '../../../app/assets/styles/tools/mixins';

// referenced http://www.kodhus.com/css-only-step-progress-bar/ for building this component

:host {
  display: block;
  margin: 2rem 0;
}

.step-progress-nav {
  @include flexbox();
  left: -.9375rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: -35px;

  @include apply-to("max-width", 768px) {
    top: -15px;
  }

  @include apply-to("max-width", 530px) {
    width: 105%;
  }

  li {
    color: $gray3;
    display: inline-block;
    @include flex(1);
    font-weight: 500;
    @include font-size(11px);
    list-style-type: none;
    position: relative;
    text-align: center;

    @include apply-to("min-width", 600px) {
      @include font-size(12px);
    }
  }

  /* styles for circles */
  li:before {
    background-color: $gray6;
    @include border-radius(50%);
    content: ' ';
    cursor: pointer;
    display: block;
    line-height: 19px;
    height: 27px;
    margin: 10px auto;
    position: relative;
    text-align: center;
    top: 58px;
    width: 27px;

    @include apply-to("max-width", 668px) {
      top: 64px;
    }
  }

  /* styles for lines in between circles */
  li:after {
    background-color: $gray6;
    content: '';
    height: 5px;
    left: -50%;
    position: absolute;
    top: 79px;
    width: 100%;
    z-index: -1;

    @include apply-to("max-width", 668px) {
      top: 81px;
    }
  }

  li:first-child:after {
    content: none;
  }

  li.active {
    color: $gray2;
    font-weight: $semiBold;

    &:before {
      background-color: $accent-color;
    }
  }

  li.disabled {
    cursor: none;
  }

  li.completed {
    color: $accent-color;

    &:hover {
      cursor: pointer;
    }
  }

  li.completed:before {
    background-color: $accent-color;
    color: #fff;
    content: "\f00c";
    font-family: 'fontawesome';
    font-size: 1.5em;
    padding-top: 5px;
    padding-right: 1px;
  }

  li.completed + li:after {
    background-color: $accent-color;
  }
}
