<ul class="step-progress-nav clearfix">
  <li class="completed">Edit Cart</li>
  <li [ngClass]="{active: isActive('OrderInfo'), completed: isComplete('OrderInfo')}">Order Info</li>
  <li [ngClass]="{active: isActive('ShippingInfo'), completed: isComplete('ShippingInfo')}">Shipping Info</li>
  <li [ngClass]="{active: isActive('PaymentMethod'), completed: isComplete('PaymentMethod')}">Billing Info </li>
  <li [ngClass]="{active: isActive('ReviewOrder'), completed: isComplete('ReviewOrder')}">Review &amp; Pay</li>
</ul>
