<ul class="step-progress-nav clearfix">
  <li class="completed">Cart</li>
  <li [ngClass]="{
      active: checkoutProgress.orderInfoActive,
      completed: checkoutProgress.orderInfoComplete}">
    Order Info
  </li>

  <li [ngClass]="{
      active: checkoutProgress.shippingActive,
      completed: checkoutProgress.shippingComplete}">
    Shipping
  </li>

  <li [ngClass]="{
      active: checkoutProgress.billingActive,
      completed: checkoutProgress.billingComplete}">
    Billing
  </li>

  <li [ngClass]="{
      active: checkoutProgress.reviewAndPayActive,
      completed: checkoutProgress.reviewAndPayComplete}">
    Review &amp; Pay
  </li>

</ul>
