<ul class="step-progress-nav clearfix">
  <li class="completed">Cart</li>
  <li [ngClass]="{
      active: checkoutProgress.orderInfoActive,
      completed: checkoutProgress.orderInfoComplete}"
      (click)="goToOrderInfo()">
    Order Info
  </li>

  <li [ngClass]="{
      active: checkoutProgress.shippingActive,
      completed: checkoutProgress.shippingComplete}"
      (click)="goToShipping()">
    Shipping
  </li>

  <li [ngClass]="{
      active: checkoutProgress.billingActive,
      completed: checkoutProgress.billingComplete}"
      (click)="goToBilling()">
    Billing
  </li>

  <li [ngClass]="{
      active: checkoutProgress.reviewAndPayActive,
      completed: checkoutProgress.reviewAndPayComplete}"
      (click)="goToReviewAndPay()">
    Review &amp; Pay
  </li>

</ul>
