<header [checkout]="checkoutSettings | async"></header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <progress-nav [checkoutProgress]="checkoutProgress | async"></progress-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-9">
      <route-view></route-view>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3">
      <order-summary [cart]="cart | async"></order-summary>
    </div>
  </div>
</div>
<ngrx-store-log-monitor toggleCommand="ctrl-t"></ngrx-store-log-monitor>
